<div class="container">
  <h1>Create League</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="league.name" required name="name">
    </div>

    <div class="form-group">
      <label for="start">Start Date</label>
      <input type="date" class="form-control" id="start" [(ngModel)]="league.start" required name="start">
    </div>
    <div class="form-group">
      <label for="end">End Date</label>
      <input type="date" class="form-control" id="end" [(ngModel)]="league.end" required name="end">
    </div>

    <div class="form-group">
      <label for="format">Format Code</label>
      <input type="text" class="form-control" id="format" [(ngModel)]="league.format" required name="format">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
