<h1>Leagues Listing</h1>
<a routerLink="/createleage">Create a League</a>
<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Format</th>
  </tr>
  <tr *ngFor="let league of leagues">
    <td>league.name</td>
    <td>league.start</td>
    <td>league.end</td>
    <td>league.format</td>
  </tr>
</table>